/*
Theme Name:   	Brain Fuel
Theme URI:    	https://github.com/stuartduff/storefront-child-theme
Author:       	Stuart Duff
Author URI:     http://stuartduff.com
Template:     	storefront
Description:  	This is a blank child theme for WooThemes StoreFront theme
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Storefront is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Images License: GNU General Public License v2 or later
*/
@import  "./sass/susy";

/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1980px */
  container: 1400px,
  gutters: .5,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
);
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typo.scss";

/*--------------------------------------------------------------
# Basic elements
--------------------------------------------------------------*/
body{
	color: $black;
	background-image: url('././images/brainfuel-space-achtergrond.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

	@media screen and (max-width:768px){
		background-attachment: scroll;
	}
}
body.home{
	color: $black;
	background-image: url('././images/bf-boog-enkel.png'),url('././images/brainfuel-space-achtergrond.jpg');
	background-repeat: repeat-x,no-repeat;
	background-attachment: scroll,fixed;
	background-size: auto,cover;
	background-position: 0% -1250px,center;

	@media screen and (max-width:1440px){
		background-size: 100%,cover;
		background-position: 0% -1030px,center;
	}
	@media screen and (max-width:1400px){
		background-position: 0% -900px,center;
	}
	@media screen and (max-width:1300px){
		background-position: 0% -700px,center;
	}
	@media screen and (max-width:1200px){
		background-position: 0% -700px,center;
	}
	@media screen and (max-width:1100px){
		background-position: 0% -500px,center;
	}
	@media screen and (max-width:1000px){
		background-position: 0% -420px,center;
	}
	@media screen and (max-width:900px){
		background-position: 0% -320px,center;
	}
	@media screen and (max-width:800px){
		background-position: 0% -280px,center;
	}
	@media screen and (max-width:700px){
		background-position: 0% -210px,center;
	}
	@media screen and (max-width:600px){
		background-position: 0% -105px,center;
	}
	@media screen and (max-width:520px){
		background-image: url('././images/brainfuel-space-achtergrond.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}

	@media screen and (max-width:768px){
		background-attachment: scroll;
	}
}
#page, .topbarInner{
	max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
}

.col-full {
    padding: 0px 40px;
    max-width: 100%;

    @media screen and (max-width:1100px){
    	padding: 0px 30px;
    	margin-left: 20px;
    	margin-right: 20px;

    	.col-full{
    		padding: 0px 0px;
    		margin: 0px 0px;
    	}
    }
    @media screen and (max-width:500px){
	    padding: 0px 30px;
	    margin-left: 0px;
	    margin-right: 0px;
    }
    @media screen and (max-width:350px){
	    padding: 0px 12px;
	    margin-left: 0px;
	    margin-right: 0px;
    }
}

.site-header-cart{
	display: none;
}
.site-logo-link{
	width: 100px;
	padding-top: 0px;	
    padding-bottom: 4px;
	display: inline-block!important;

	@media screen and (max-width:650px){
		width: 73px;
		padding-top: 0px;
	}
	@media screen and (max-width:540px){
		width: 73px;
	}
}
.site-header .storefront-primary-navigation{
	display: inline-block;
	width:calc(100% - 212px);
    clear: both;
    margin-left: 0px;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;

	.main-navigation{
		width: 100%;
		text-align: center;
		height: 58px;

		ul{
			margin-top: 14px;

			li{
				margin: 0px 20px;

				a{
					font-size: 18px;
					@include font-weight-bold;
					padding: 0px;
					margin: 0px;
					color: $black;
					border-bottom: 1px solid transparent;

					&:hover{
						border-bottom: 1px solid $purple;
					}
				}

				&.current-menu-item,
				&.current-menu-parent,
				&.current_page_parent{

					a{
						@include font-weight-bold;
						border-bottom: 1px solid #A01458;
					}
					li{
						a{
							@include font-weight-regular;
							background-color: transparent;
						}
						&.current-menu-item{
							a{
								@include font-weight-bold;

								&:hover{
									@include font-weight-bold;
								}
							}
						}
					}
					ul.sub-menu{
						li{
							a{
								@include font-weight-bold;
								border-bottom: 1px solid #ebebeb;
							}
						}
						li.current-menu-item{
							a{	
								@include font-weight-bold;
								border-bottom: 1px solid #A01458;
							}
						}
					}
				}
				ul.sub-menu{
					margin-top: 0px;
					margin-left: -15px;
					background: #ffffff!important;
	    			box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.15);
	    			border-bottom-right-radius: 6px;
	    			border-bottom-left-radius: 6px;	

					li{
						border-bottom: 1px solid $lightgrey;
						margin-left: 0px;
						margin-right: 0px;

				    	a{
				    		padding: 10px 15px;
				    	}

						&:hover{
							border-bottom: 1px solid $lightgrey;

							a{
								@include font-weight-bold;
								background-color: $lightgrey;
								color: $black;

								&:hover{
									background-color: $lightgrey;
									border-bottom: 1px solid $lightgrey;
									color: $black;
								}
							}
						}
						&:last-child{
				    		border-bottom: 0px;

				    		&:hover{
				    			a{
									border-bottom-right-radius: 6px;
	    							border-bottom-left-radius: 6px;
									border-bottom: 0px;
				    			}
				    		}
				    	}
					}
				}
			}
		}
	}
}

a:focus, .button:focus, .button.alt:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
    outline-color: transparent!important;
}
a.btn.headerCta{
	background-color: transparent!important;
	float: right;
	border: 2px solid $black;

	i{
		color: $black;
	}

	@media screen and (max-width: 650px){
		padding: 8px 20px;
    	margin-right: 10px;
	}

	&:hover{
		background-color: $black!important;
		 i{
		 	color: $white;
		 }
	}
	&.one{
		    margin-top: 7px;
		    padding: 8px 12px;
		    color: #3d213c!important;

		    &:hover{
		    	color: #ffffff!important;
		    }
	}
	&.two{
		display: none;
	}

	@media screen and (max-width: 540px){
		&.one{
			display: none;
		}
		&.two{
			display: inline-block;
			margin-top: 6px;
		}
	}
	@media screen and (max-width: 360px){
		&.two{
			display: none;
		}
	}
}
.gform_wrapper{ 
	ul li.gfield{
		margin-top: 16px;
    	padding-top: 0;

    	.ginput_container_fileupload{
    		.ginput_preview{
    			img{
    				display: inline-block;
    			}
    		}
    	}
    	label.gfield_label{
    		@include font-weight-bold;
    	}
    	ul.gfield_checkbox, ul.gfield_radio{
    		margin-left: 0px;

    		input{
    			margin-right: 8px;
    		}
    	}
	}
	p{
		display:none;
	}
	.validation_error{
		border: 1px solid #bb2121;
   		padding: 10px;
    	font-style: italic;
	}

	.validation_message{
		color: #BB2121;
    	padding-top: 10px;
    	font-style: italic;
	}
}
.site-content{
	background: #ffffff;
	margin-top: 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    padding: 100px 0px 0px 0px;

    @media screen and (max-width: 500px){
    	padding-top: 50px;
    }
}
.entry-title{
	text-align: center;

	@media screen and (max-width:780px){
		text-align: left;
	}
}
.single-product .entry-title, .woocommerce-cart .entry-title, .woocommerce-account .entry-title, .woocommerce-checkout .entry-title{
	text-align: left;
}
.site-header{
	background: #ffffff;
	padding-top: 9px;
	padding-bottom: 0px;
	border-bottom: 0px!important;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

	@media screen and (max-width:1015px){
		padding-bottom: 10px;
	}
	.col-full{
		padding-bottom: 0px;
	}
}
.home .site-header{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.homepageTopBlock{
	padding:30px 40px;


	@media screen and (max-width: 1100px){
		padding: 30px 30px 40px 30px;
		margin-left: auto;
    	margin-right: auto;
	}
	@media screen and (max-width: 768px){
		padding: 30px 0px 40px 0px;
	}
	@media screen and (max-width: 520px){
		padding: 0px 0px 40px 0px;
	}

	width: 78%;

		@media screen and (max-width: 768px){
			display: block;
			width: 95%;
		}
		@media screen and (max-width: 520px){
			display: block;
			width: 100%;
		}
		.headerTitelBlock{
			@media screen and (max-width: 520px){
				background: $white;
				padding:40px 20px 10px 20px;
				margin-bottom: 30px;
				border-bottom-right-radius: 10px;
    			border-bottom-left-radius: 10px;
			}
		}

		.homepageTopBlock-middle{
			text-align: center;
			p{ 
				width: 70%;
				margin:0px auto 40px auto;

				@media screen and (max-width: 768px){
					width: 90%;
				}
			}
		}
		.homepageTopBlock-button{
			

			ul.menu-parent{
				margin: 0px;
				margin-block-start: 0em;
			    margin-block-end: 0em;
			    margin-inline-start: 0px;
			    margin-inline-end: 0px;
			    padding-inline-start: 0px;
			    list-style-type: none;
			}
			.sub-menu-parent { 
				position: relative;
				display: inline-block; 

				@media screen and (max-width: 520px){
					display: block;
					margin-bottom: 20px;
				}

				&:hover button{
					background: $green;
					cursor: default;

					@media screen and (max-width: 520px){
						background: transparent;
					}
				}

				
				&:hover .sub-menu {
				  visibility: visible; /* shows sub-menu */
				  opacity: 1;
				  z-index: 22;
				  transform: translateY(0%);
				  transition-delay: 0s, 0s, 0.1s; /* this removes the transition delay so the menu will be visible while the other styles transition */
				}

				&.right{
					margin-left: 40px;

					@media screen and (max-width: 768px){
						margin-left: 5px;
					}
					@media screen and (max-width: 570px){
						margin-left: 5px;
					}
					@media screen and (max-width: 520px){
						margin-left: 0px;
					}
				}
			}
			button{
				position: relative;
				z-index: 2;

				@media screen and (max-width: 560px){
					padding: 14px 19px;
				}
				@media screen and (max-width: 520px){
					background: transparent;
					color: $white!important;
					font-size: 20px;

					&:hover{
						background: transparent;;
					}
				}
			}

			.sub-menu { 
			  visibility: hidden; /* hides sub-menu */
			  opacity: 0;
			  position: absolute;
			  top: 100%;
			  left: 2%;
			  width: 96%;
			  transform: translateY(0em);
			  z-index: -2;
			  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
				margin-block-start: 0em;
			    margin-block-end: 0em;
			    margin-inline-start: 0px;
			    margin-inline-end: 0px;
			    padding-inline-start: 0px;
			    list-style-type: none;	
			    background: #ffffff;
    			box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.15);
    			border-bottom-right-radius: 6px;
    			border-bottom-left-radius: 6px;	
    			margin-left: 0px;

    			@media screen and (max-width: 520px){
					visibility: visible; /* hides sub-menu */
			 		opacity: 1;
			  		position: relative;
			  		transform: translateY(0em);
			  		box-shadow: none;
			  		border: 1px solid $lightgrey;
			  		border-radius: 5px;
				}

			    li{
			    	border-bottom: 1px solid $lightgrey;

			    	&:last-child{
			    		border-bottom: 0px;
			    		
			    		&:hover{
			    			border-bottom-right-radius: 6px;
    						border-bottom-left-radius: 6px;
			    		}
			    	}

			    	a{
			    		padding: 10px 15px;
			    		display: block;
			    		color: $black;
			    		font-weight: bold;

			    		&:hover{
			    			background: $lightgrey;
			    			color: $black;
			    			border-bottom-right-radius: 6px;
    						border-bottom-left-radius: 6px;
			    		}
			    	}
			    }	
			}
		}

		.homepageTopBlock-video{
			margin-top: 100px;
	    	border-radius: 10px;
	    	overflow: hidden;

			@media screen and (max-width: 520px){
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 50px;
			}
		}
	
}

.page-template-template-fullwidth #primary{
	margin-left: 0px;
	float: left;
}
.home .entry-content, .home .entry-header{
	width: 100%;
	max-width: 100%;
	text-align: left;
}
.home .entry-header h1{
	display: none;
}
.home .type-page {
    padding-top: 2.617924em;
}
.home .site-content{
	padding-top: 0px;
	margin-top: 0px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.panel-grid{
	padding-top: 30px;
	padding-bottom: 60px;
    border-bottom: 1px solid #efefef;

    @media screen and (max-width: 768px){
		padding-bottom: 30px;

	}
	@media screen and (max-width: 450px){
		padding-bottom: 0px;

	}

    &:last-child{
    	border-bottom: 0px;
    }
    &#pg-8-2{
    	margin-bottom: 0px;
    }
    .icon{
    	@media screen and (max-width: 768px){
    		width: 40%;
    	}
    	@media screen and (max-width:500px){
		    width: 50%;
	    }
    }
    .panel-grid-cell{
    	@media screen and (max-width: 768px){
    		margin-bottom: 50px!important;
    	}
    }
   	&.panel-has-style{
   		padding-bottom: 0px;
   		border-bottom: 0px;
   		margin-bottom: 0px;

   		&#pg-41-5{
   			padding-bottom: 60px;
   			padding-top: 30px;
   			border-bottom: 1px solid $lightgrey;
   		}
   		.titleRow{
   			h3{
   				text-align: center;

	   			@media screen and (max-width: 768px){
		    		text-align: left;

		    	}
	   		}
	   		.panel-grid-cell{
	   			@media screen and (max-width: 768px){
		    		margin-bottom: 0px!important;

		    	}
	   		}
	   	}
	   	.contactLocations{
	   		> .panel-grid-cell:first-child{
	   			padding-right: 20px;
	   			border-right: 1px solid $lightgrey;
	   		}
	   		@media screen and (max-width: 1024px){
	   			display: block;
	   		}
	   		@media screen and (max-width: 900px){
	   			display: block;

	   			> .panel-grid-cell{
	   				width: 80%!important;
	   				margin-bottom: 0px!important;

	   				@media screen and( max-width: 650px){
	   					width: 100%!important;
	   				}

	   				.panel-grid{
	   					flex-direction: unset!important;
	   				}
	   			}
	   			> .panel-grid-cell:first-child{
	   				border-right: 0px;
	   				margin-bottom: 50px;
	   			}
	   		}
	   		.panel-grid-cell{
	   			@media screen and (max-width: 500px){
   					&#pgc-w5a469397e3dca-0-1, &#pgc-w5a469397e3e4a-0-1{
   						display: none;
   					}
   				}
	   		}
	   	}
   	}
   	&#pg-193-1{
   		padding-bottom: 60px;
   		border-bottom: 1px solid #efefef;
   	}
   	
   	.widget_siteorigin-panels-builder{
   		.panel-grid{
   			padding-top: 0px;
   			padding-bottom: 0px;
   		}

   	}
   	.portfolioLogo{
   		.panel-grid-cell{
   			margin-bottom: 0px!important;
   		}
   		p{
   			display: flex;
   			flex-wrap: wrap;
   			align-items: center;
   			justify-content: space-between;
   		}
   		span.logoimg{
   			padding: 15px;
		    border: 1px solid #f1efef;
		    width: 18%;
		    margin-bottom: 20px;
		    text-align: center;
		    height: 90px;
		    border-radius: 5px;

		    @media screen and (max-width: 768px){
		    	width: 32%;
		    	height: 70px;
		    }
		    @media screen and (max-width: 450px){
		    	width: 47%;
		    	height: 70px;
		    }

	   		img{
	   			display: block;
			    max-height: 100%;
			    width: auto;
			    vertical-align: middle;
			    margin-left: auto;
			    margin-right: auto;
	   		}
	   	}
   	}
}

/* -----------------------

	TEAM PAGES

-------------------------*/

.team-info{
	padding-left: 120px;
    padding-right: 120px;

    @media screen and (max-width: 1200px){
    	padding-left: 60px;
    	padding-right: 60px;
    }
    @media screen and (max-width: 850px){
    	padding-left: 30px;
    	padding-right: 30px;
    }
    @media screen and (max-width: 780px){
    	flex-direction: row;
    }
    @media screen and (max-width: 600px){
    	flex-direction: column;
    }

	.panel-grid-cell{

		@media screen and (max-width: 780px){
			width: 33.3333%;
   			width: calc(33.3333% - (0.66666666666667 * 50px));
		}
		@media screen and (max-width: 600px){
	    	width: 100%;
	    }

		img{
			margin-right: auto;
			margin-left: auto;
			box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.15);
			border-radius: 10px;

		}
		h3{
			text-align: center;
		}
		a{
			color: $blue;
			text-decoration: none;

			&:hover{
				color: $green;
			}
		}
		.panel-first-child{
   			margin-bottom: 8px!important;
   		}
	}
	&.team-row-border{
		border-bottom: 1px solid #efefef;
		margin-bottom: 30px;
		padding-bottom:30px;
	}
}


/* -----------------------

	END TEAM PAGES

-------------------------*/

.thankyou{    
	width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.page-template-template-homepage:not(.has-post-thumbnail) .site-main{
	padding-top: 0px;
}
.site-main{
	margin-bottom: 0px;
}
.hentry{
	margin-bottom: 0px;
}

h1,h2,h3,h4,h5,h6{
	color: $purple;
}
h1{
	color: $purple!important;
}
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget a.button, .site-header-cart .widget_shopping_cart a.button,
button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .added_to_cart.alt, .widget-area .widget a.button.alt, .added_to_cart, .widget a.button.checkout{
	background-color: $blue!important;
	color: $white;

	&:hover{
		color: #ffffff!important;
		background: $green;
	}
}
ul .added_to_cart{
	background: $blue!important;
	border-radius: 6px!important;

	&:hover{
		background: $green!important;
	}
}

body .btn, body button.alt, .coupon input.button, .actions input.button, .button{
	background-color: $blue!important;
	display:inline-block;
	padding: 14px 30px;
	color: #ffffff!important;
	text-decoration:none;
	border-radius: 6px!important;
    line-height: 1.2;
	@include font-weight-bold;

	&.blue{
		background-color: $blue!important;

		&:hover{
			background: $green!important;
		}

	}
	&.white{
		background-color: $white!important;
		color: $purple!important;

		&:hover{
			background: $green!important;
			color: #ffffff!important;
		}
		&:visited{
			color: $purple!important;
		}

	}
	&:hover{
		color: #ffffff;
		background: $green!important;
	}
	&:visited{
		color: #ffffff!important;
	}
	&.trans{
		opacity: 0.6;
	}
	&.pre-order{
		margin-right: 20px;
	}
	&.ghost{
		background: transparent!important;
		padding: 0px;
		margin-left: 20px;
		text-decoration: underline;

		&.white{
			color: #ffffff!important;
		}
		&:hover{
			background: transparent!important;
		}
	}
}
#woo_catalog_enquiry_custom_button{
	height: auto;
	width: auto;
	padding: 14px 30px;
	font-size: 14px;
}
.woocommerce-breadcrumb{
	display: none;
}
.entry-content .sow-image-container, .so-widget-image{
	border-radius: 10px;
}

////////////////////////////////
/* Blog. */
////////////////////////////////

.single-post {
	#secondary{
		float: right;
		width: 30%;
	}
	#primary{
		float: left;
		width: 60%;
		margin-left: 0px;
	}

	.entry-title{
		text-align: left;
	}
	.entry-header{
		border-bottom: 0px;
		margin-bottom: 25px;
	}
	.entry-content{
		p{
			strong{
				color: $purple;
			}
			a{
				text-decoration: underline;
				@include font-weight-bold;
			}
		}
		img{
			margin-bottom: 30px;
		}
		blockquote{
			border-left: 3px solid rgba(132, 52, 103, 0.19);
			color: $purple;
		}
	}
}
.hentry.type-post .entry-content{
	float: left;
	width: 100%;
}
body.blog, body.archive.category{
	#secondary{
		float: right;
		width: 30%;
	}
	#primary{
		float: left;
		width: 60%;
		margin-left: 0px;
	}
	.entry-header{
		border-bottom: 0px;
		margin-bottom: 25px;

		h2{
			@include font-weight-bold;
			text-align: left;

			a{
				@include font-weight-bold;
			}
		}
	}
	article{
		border-bottom: 1px solid $lightgrey;
		margin-bottom: 60px;

		&:last-child{
			border-bottom: 0px;
		}
	}
}
.rpwwt-widget{
	ul{
		li{
			border-bottom: 1px solid $lightgrey;
			margin-bottom: 30px;
			padding-bottom: 30px;

			.rpwwt-post-title{
				@include font-weight-bold;
				@include font-size-h4;
			}
		}
	}
}

.hentry .entry-header .byline, .hentry .entry-header .posted-on{
	@include font-size-p;
	a{
		color: $black;
		text-decoration: none;
	}
}
.cat-links{
	display: inline-block;
	margin-left: 5px;
	@include font-size-p;
	margin-bottom: 0px;

	&:before{
		content: "-";
	}
	.label{
		display: inline-block;
		margin-right: 4px;
	}
}

////////////////////////////////
/* Reviews */
////////////////////////////////
#reviews{
	width: 75%;
	border-top: 1px solid $lightgrey;
	padding-top: 60px;

	.commentlist{
		padding-top: 15px;

		li.comment{
			border-bottom: 1px solid #f9f7f7;

			.comment_container .comment-text{
				float: left;
				width: 100%;

				.description p{
					font-style: italic;
				}
			}
		}
	}
	#respond{
		padding: 20px 0px 60px 0px;
		background: transparent;
	}
	#review_form{
		&:before{
			content: "Leave a review";
			color: $purple;
			@include font-weight-bold;
			@include font-size-h4;

		}
		.form-submit{
			input{
				border-radius: 6px;
			}
		}
		.comment-form-rating label, .comment-form-comment label, .comment-form-author label, .comment-form-email label{
			@include font-weight-bold;
		}
	}
}

////////////////////////////////
/* submenu. */
////////////////////////////////

.submenu{
	ul.menusub{
		margin-bottom: 0px;
		text-align: center;
		border-top: 1px solid #d0d0d0;

		@media screen and (max-width:1050px){
			display:none;
		}

		li{
			display: inline-block;
			padding: 10px 15px;

			a{
				color: $black;

				&:hover{
					border-bottom: 1px solid $purple;
				}
			}

			&.current-menu-item{
				a{
					@include font-weight-bold;
				}
			}
		}
	}
}
////////////////////////////////
/* Mobile menu. */
////////////////////////////////
#shiftnav-toggle-main.shiftnav-toggle-style-burger_only{
	margin-top: 14px!important;
}
.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.shiftnav-active > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.shiftnav-in-transition > .shiftnav-target{
	background: #f9f9f9!important;
	color: $purple!important;
	font-weight: 700;
}
#shiftnav-toggle-main-button{
	&:before{
		content: "Menu";
		font-family: $body-font;
		margin-right: 10px;
		font-size: 18px;
	}
	.fa-bars{
		&:before{
			font-size: 20px;
		}
	}
}
.shiftnav-inner{

	span.MenuTitle{
		font-size: 27px;
		font-family: $body-font;
		color: $black;
		padding: 16px 0px 30px 25px;
    	display: block;
    	@include font-weight-bold;
	}
	.menuImg{
		margin-top: 20px;
		text-align:center;

		img{
			max-width:60px;
		}
	}
	.shiftnav-panel-close{
		background: transparent!important;
		color: $black;
		top: 10px;

		i{
			font-size:17px!important;
		}
	}
	nav.shiftnav-nav{
		ul{
			a.shiftnav-target{
				font-size: 17px!important;
				opacity: 1!important;
				color: $black!important;
				background: transparent!important;

				b,strong{
					font-weight: 500;
				}

				&:hover{
					color: $purple;
				}
			}
			li{
				&:hover{
					&> a{
						color: $purple;
					}
					.sub-menu a{
						color: $black;
					}
					.shiftnav-submenu-activation{
						color: $purple!important;
					}
				}
				&.current-menu-parent{
					.shiftnav-submenu-activation{
						color: $purple!important;
					}
				}
				&.wpml-ls-item{
					display: inline-block;
					margin-bottom:10px;

					a{
						padding: 15px 0px 15px 25px;
					}
				}
			}
			.shiftnav-submenu-activation{
				background: transparent!important;

				&:hover{
					color: $purple!important;
				}
			}
			ul.sub-menu{
				background: #f9f9f9!important;
				padding-left: 25px!important;
			}
			li.current-menu-item, li.current-menu-parent{
				&> a.shiftnav-target{
					background: transparent!important;
					color: $purple!important;
					opacity: 1!important;
					font-weight: 700!important;

					b,strong{
						font-weight: 700!important;
					}
				}
				ul.sub-menu a.shiftnav-target{
					background: transparent!important;
					opacity: 1!important;
					font-weight: normal;

					b,strong{
						font-weight: 500;
					}

				}
			}
		}
	}
}
.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.shiftnav-retract .shiftnav-target{
	color: $black;
}
.shiftnav-toggle{
	float: right;
	@include font-weight-bold;
	padding: 10px 20px;
	background: transparent;
    color: #000;
    margin-top:6px;
    border-radius: 6px;

    &:hover{
    	background: $green;
    	color: $white;
    	padding: 10px 20px;
    	margin-top: 6px;
    }

	@media screen and (min-width: 1050px){
		display: none;
	}
	@media screen and (max-width: 540px){
		padding: 10px 10px;

		&:hover{
			padding: 10px 10px;
		}
	}
	@media screen and (max-width: 360px){
		i.fa-bars{
			display: none;
		}
	}
}

@media (min-width: 768px){
	.page-template-template-fullwidth-php.woocommerce-order-pay #order_review .button#place_order, .woocommerce-order-pay #order_review .button#place_order {
	    display: block;
	    width: auto;
	    font-size: 1.41575em;
	}
}

/*--------------------------------------------------------------
# Opsomming met categorieën
--------------------------------------------------------------*/
.catLeft{
	width: 45%;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding-left: 45px;
	margin-bottom: 10px;
}
.catRight{
	width: 45%;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding-left: 45px;
	margin-bottom: 10px;
}
.character{
	background-image: url('././images/personen-icoon.png');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: auto 100%;
}
.objects{
	background-image: url('././images/object-icoon.png');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: auto 100%;
}
.animals{
	background-image: url('././images/dieren-icoon.png');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: auto 100%;
}
.location{
	background-image: url('././images/locatie-icoon.png');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: auto 100%;
}

/*--------------------------------------------------------------
# Lijst met USP
--------------------------------------------------------------*/
ul.usp{
	list-style-type: none;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

	li{
		padding-left: 43px;

		&:before{
			content: "\f00c";
			margin-right: 17px;    
			font-family: "FontAwesome";
		    width: 1em;
		    color: $purple;
		    font-size: 26px;
		    margin-left: -43px;
		}
	}
}

/*--------------------------------------------------------------
# Funded by logo's
--------------------------------------------------------------*/
span.img{
		height: 17px;
	    display: inline-block;
	    width: 156px;
	    position: relative;

	&.ks{
		width: 156px;

		img{
		    max-height: 100%;
    		position: absolute;
    		margin-top: 3px;
		}
	}
	&.indie{
		width: 123px;
		img{
		    max-height: 100%;
    		position: absolute;
    		margin-top: 2px;
		}
	}
}

/*--------------------------------------------------------------
# Cards app
--------------------------------------------------------------*/
#pg-41-4{
	h3{ 
		text-align:left;
	}
}
.cards-app{
	align-items: stretch!important;

	.panel-grid-cell{
		border: 1px solid $lightgrey;

		.cards, .app{
			padding: 20px 20px 20px 250px;

			@media screen and (max-width: 1150px){
				padding: 240px 50px 20px 50px;
			}
			@media screen and (max-width: 780px){
				padding: 20px 20px 20px 250px;
			}
			@media screen and (max-width: 550px){
				padding: 240px 50px 20px 50px;
			}
			@media screen and (max-width: 350px){
				padding: 240px 20px 20px 20px;
			}
		}
		.cards{
			background: url('././images/mockup-kaarten.jpg');
			background-position: 10px 55px;
			background-size: 230px;
			background-repeat: no-repeat;

			@media screen and (max-width: 1150px){
				background-position: 90px 15px;
			}
			@media screen and (max-width: 780px){
				background-position: 10px 15px;
			}
			@media screen and (max-width: 550px){
				background-position: 43px 15px;
			}
		}
		.app{
			background: url('https://www.brainfueltool.com/wp-content/uploads/2018/10/mockup-canvassen.png');
			background-position: 10px;
			background-size: 230px;
			background-repeat: no-repeat;

			@media screen and (max-width: 1150px){
				background-position: 90px 50px;
			}
			@media screen and (max-width: 780px){
				background-position: 10px;
			}
			@media screen and (max-width: 550px){
				background-position: 75px 50px;
			}
			@media screen and (max-width: 350px){
				background-position: 40px 50px;
			}
		}
	}
}
/*--------------------------------------------------------------
# Meertaligheid / multi language
--------------------------------------------------------------*/

li.wpml-ls-current-language{
	background: #e4e7e8;
}
/*--------------------------------------------------------------
# Topbar
--------------------------------------------------------------*/
.home .topbar{
	background: #fbfafc;
}

.topbar{
	font-size: 14px;
	background: transparent;
	color: #aaadb4;

	@media screen and (max-width:768px){
		display: none;
	}
	.topbarInner{
	    background: #fbfafc;
	}

	ul{
		margin: 0px;

		li{
			display: inline-block;
			margin-left: 30px;
			padding: 0px;
			margin: 0px;

			a{
				text-decoration: none;
				@include font-weight-bold;
				color: #aaadb4;    
				padding: 8px 8px 5px 8px;
   				display: inline-block;
			}

			&.current-menu-item a, &:hover a{
				color: $black;
			}
			&.wpmenucartli{
			}
			&.account-icon{

				a{
					width: 22px;
				    display: inline-block;
				    background: url(././images/icons/account-icon.svg);
				    background-repeat: no-repeat;
				    background-size: 17px;
				    padding: 0px 0px;

				    &:hover{
				    	 background: url(././images/icons/account-icon-h.svg);
				    	 background-repeat: no-repeat;
				    	background-size: 17px;
				    }
				}
			}
		}

	}

	div.topbar-menu{
		@include span(12 of 12);
		text-align: right;
	}
}

.cart-contents:after {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 1em;
    float: right;
    content: "\f291";
    line-height: 1.618;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
div.ctaBlock{
	color: $white;
	text-align: center;
	background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 50px;
    padding-top: 80px;
    background-size: 100%;

    @media screen and (max-width:500px){
		padding-bottom: 20px;
	}

    h2{
    	color: $white;
    }
	.backButton a.btn{
		background-color: $blue!important;

		&:hover{
			background-color: $green!important;
		}
	}
}
footer.site-footer{
	padding-bottom: 15px;
	background-color: $white;
	color: $black;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;

	@media screen and (max-width:768px){
		padding-bottom: 100px;
	}

	.footer-widgets{
		padding-top: 10px;
		border-bottom: 1px solid $lightgrey;

		@media screen and (min-width:500px){
			&.col-4 .block{
			    width: 48%;
			    display: inline-block;
			    margin-right: 1%;
			    vertical-align: top;
			    float: none;

			    &.footer-widget-4{
			    	margin-right: 0px;
			    }
			}
		}
		@media screen and (min-width:768px){
			&.col-4 .block{
			    width: 21.739%;
			   	display: inline-block;
			    margin-right: 3%;
			    vertical-align: top;
			    float: none;

			    &.footer-widget-4{
			    	margin-right: 0px;
			    }
			}
		}
		.widget-title{
			color: $black;
		}
		ul{
			li{
				padding-left: 0px;

				&:before{
					content: none;
				}
			}
			a{
				color: $black;
			}
		}

		.widget{
			margin-bottom: 42px;
		}
	}

	.widget_nav_menu ul li{

		&:hover{

			a{
			color: $darkblue;
			}
		}
	}
	.textwidget{
		a{
			font-size: 17px;

			&:hover{
				color: $darkblue;
			}

			&.btn{
				background: $blue;
				color: #ffffff!important;

				&:hover{
					background: $green;
					color: #ffffff!important;
				}
			}
		}
	}
	.bottomMenu{
		text-align: center;
		margin-top: 25px;

		.storeIcons{
			a{
				height: 40px;
			    display: inline-block;
			    width: 145px;

				img{
					max-height: 100%;
				}
			}
		}

		.credits{
			display: block;	
			font-size: 13px;
		}
		.disclaimer-menu{
			display: block;
			margin-top: 10px;

			ul{
				-webkit-margin-before: 0em;
	    		-webkit-margin-after: 0em;
	    		-webkit-padding-start: 0px;
	    		margin: 0px;
	    		padding: 0px;

				li{
					display: inline-block;
					border-right: 1px solid #c1c1c1;
    				padding: 0px 10px 4px 4px;
    				line-height: 15px;

    				&:last-child{
    					border-right: 0px;
    				}
    				&.current-menu-item{
    					a{
    						@include font-weight-bold;
    						color: $black;
    					}
    				}

					a{
						font-size: 13px;
						color: $black;

						&:hover{
							color: $darkblue;
						}
					}
				}
			}
		}
	}
}
.storefront-handheld-footer-bar{
	display: none;
}
.storefront-handheld-footer-bar ul li>a{
	background-color: $purple;
	color: $white;
}
.site-footer .storefront-handheld-footer-bar a:not(.button){
	color: $white;
}
/*--------------------------------------------------------------
# Webshop pagina's
--------------------------------------------------------------*/
#primary{
  float: right;
  margin-left: 4.347826087%;
  margin-right: 0;

  @media screen and (max-width: 768px){
  	float: left;
  	width: 100%;
  	margin-left: 0px;
  }
}
#secondary {
  float: left;
  width: 21%;

  @media screen and (max-width: 768px){
  	width: 90%;
  }
}
form.woocommerce-checkout{
	margin-top: 50px;
}
table th{
	background-color: $lightgrey;
}
#payment .payment_methods > li:not(.woocommerce-notice){
	background-color: $lightgrey;
}
#payment .payment_methods li.wc_payment_method:hover{
	background-color: $purple;
	color: $white;
}
#payment .payment_methods li.wc_payment_method > input[type=radio]:first-child:checked + label{
	background-color: $purple;
	@include font-weight-bold;
	color: $white;

	&:before{
		color: $white;
	}
}
.widget-area .widget.widget_nav_menu{
	ul{

		li{
			padding-left: 0px;
			opacity: 1;

			&:before{
				content: none;
			}

			a{
				@include font-size-p;
				text-decoration: none;
				color: $black;
			}

			&.current-menu-item{

				a{
					@include font-weight-bold;
				}
			}
			&:hover{
				a{
					text-decoration: underline;
				}
			}
		}
	}
}
table.specs{
	width: auto;

	.specsLabels{
		width: 150px;
		@include font-weight-bold;
		display: inline-block;
		padding: 0px 15px 0px 0px;
		@include font-size-p;
		background-color: transparent;

		@media screen and (max-width: 450px){
	  		width: 125px;
	  	}
	}
	.specsInfo{
		padding: 0px 15px 0px 0px;
		@include font-size-p;
		background-color: transparent;
	}
}
label.labelbold{
	width: 150px;
	@include font-weight-bold;
	display: inline-block;

	@media screen and (max-width: 450px){
  		width: 125px;
  	}
}
table.variations{
	label{
		width: 250px;
		@include font-weight-bold;
		display: inline-block;
		margin-bottom: 8px;
	}
	select{
		width: 200px;
    	height: 35px;
	}
}
.woocommerce-variation-price{
	@include font-weight-bold;

	.woocommerce-Price-amount:before{
		content: 'Price:';
		margin-right: 4px;
	}
}
.woocommerce-price-suffix{
	display: none;
}
.products .ywcrbp_regular_price, .products .ywcrbp_sale_price, .products .ywcrbp_your_price{
	font-size: 14px;
}
p.stock.in-stock{
	display:none;
}
.catalog_enquiry_form{
	margin-top: 35px;
}
.single-product div.product{

	.woocommerce-product-gallery{
		margin-bottom: 10px;
	}
	.summary{
	}
	.woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs{
		margin-bottom: 10px;

		 li{
			width: auto;
			float: none;
		    margin-right: 11px;
		    height: 70px;
		    display: inline-block;
		    position: relative;

		    img{
		    	max-height: 100%;
		    	border-radius: 0px;
		    	padding-bottom: 5px;

		    	&.flex-active{
		    		border-bottom: 2px solid $purple;
		    	}
		    }
		}
	}
}
.storefront-sorting{
	display: none;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message, .woocommerce-noreviews, p.no-comments{
	background-color: $lightgrey;
	color: $black;
}
#main.site-main ul.products{
	li.product{
		padding-bottom: 10px;

		@media screen and (max-width:1024px){
			width: 44%;
			display: inline-block;
		}
		@media screen and (max-width:768px){
			margin-right: 5%;
		}
		@media screen and (max-width:500px){
			margin-right: 0%;
			width: 100%;
			text-align: left;

			img{
				margin-left: 0px;
			}
		}

		&:hover{
			background: $white;
			box-shadow: 0px 0px 10px 3px #efefef;
		}
		a{
			h2.woocommerce-loop-product__title{
				@include font-weight-bold;
				@include font-size-p;
			}
		}
	}
}

.woocommerce-cart-form{
	
	.cart{
		border-collapse: collapse;
		
		thead td, thead th{
			background: $lightgrey;
			color: $black; 
			padding-top: 15px;
    		padding-bottom: 15px;
		}
		tbody td, tbody th{
			background: $white;
			vertical-align: middle;
		}
		tbody tr.cart_item td{
			border-bottom: 1px dashed $purple;

			@media screen and (max-width:768px){
				border-bottom: 0px;

				&.product-subtotal{
					border-bottom: 1px dashed $purple;
				}
				&.product-remove{
					display: inline-block;

					a{
						right: 34px;
					}
				}
				&.product-thumbnail{
					display: inline-block;
					padding-left: 10px;
				}
			}
			

			a{
				@include font-weight-bold;

				&:hover{
				border-bottom: 1px solid darken($purple, 10%);
				color: darken($purple, 10%);
				}
			}

			&.product-remove{
				border-bottom: 0px;
				padding-left: 5px;
			    padding-right: 5px;
			    width: 40px;
			}
		}
		.product-thumbnail{
			padding-left: 5px;
			padding-right: 5px;
			width: 180px;

			@media screen and (max-width:900px){
				width: 130px;
			}

			img{
			    width: 180px;
    			height: auto;
    			max-width: 100%;
    		}
		}
		.coupon{
			.input-text{
				text-transform: uppercase;
				height: 43px;
				padding-left: 40px;
				-webkit-border-top-left-radius: 50px!important;
				-webkit-border-bottom-left-radius: 50px!important;
				-moz-border-radius-topleft: 50px!important;
				-moz-border-radius-bottomleft: 50px!important;
				border-top-left-radius: 50px!important;
				border-bottom-left-radius: 50px!important;
				@media screen and (max-width:768px){
					padding: 9px 15px;
					border-radius: 2px!important;
				}

			}
			input[type="submit"]{
				margin-left: -2px;
				border-radius: 0px;
				-webkit-border-top-right-radius: 50px!important;
				-webkit-border-bottom-right-radius: 50px!important;
				-moz-border-radius-topright: 50px!important;
				-moz-border-radius-bottomright: 50px!important;
				border-top-right-radius: 50px!important;
				border-bottom-right-radius: 50px!important;
				padding: 9px 30px;

				@media screen and (max-width:768px){
					padding: 9px 0px;
					border-radius: 8px!important;
				}
			}
		}
	}
	a.remove{
		width: auto;

		&:before{
			color: #555555;
		}
		&:hover{
			border-bottom: 0px!important;

			&:before{
				color: #e2401c;
				border-bottom: 0px;
			}
		}
		
	}
}
#payment .place-order{
	width: auto;

	.button{
		width: auto;
		background: $blue;
		border-radius: 8px;

		&:hover{
			background: darken($blue, 5%);
		}
	}
}
#payment .payment_methods li p{
	color: $black;
}
#ship-to-different-address .woocommerce-form__input-checkbox{
	right: auto;
	left: 0px;
}
#ship-to-different-address label{
	padding-left: 25px;
}
.wc-proceed-to-checkout{
	.button.checkout-button{
		background: #6DB4CA!important;
		border-radius: 8px;


		&:hover{
			background: darken(#6DB4CA, 5%)!important;
		}
	}
}

ul.order_details li{
	padding: 1em 20px 1em 20px;
    display: inline-block;
    border-bottom: 0px;
}

.my_account_social{
	tr{
		height: 50px;

		td{
			width: 60%;
			padding: 0px 0px 0px 0px;

			span{
				display: inline-block;
    			padding-top: 0px;
    			margin-left: 0px;
			}
			a{
				display: inline-block;
			    height: 20px;
			    position: absolute;
			    padding-top: 4px;
			    padding-left: 10px;
			}
			&.sl-unlink{
				padding: 0px 0px 0px 0px;
    			position: absolute;
			}
		}
	}
}

a.showlogin, a.showcoupon{
	border: 1px solid $darkgrey;
	color: $black;
    padding: 7px 15px;
    border-radius: 8px;
    margin-left: 20px;
    opacity: 1;
    display: inline-block;

    @media screen and (max-width549px){
    	margin-left: 0px;
    }

    &:hover{
    	border: 1px solid darken($purple, 10%);
    	background: darken($purple, 10%);
    	color: #ffffff;
    	opacity: 1;
    }
}
td.actions{
	input.button[name="update_cart"]{
		display: none;
	}
}
td.product-quantity{
	.wac-qty-button {
	    display: inline;
	    border-radius: 5px;
	    padding: 0px!important;
	    background-color: transparent;

	    a{
	    	padding: 0px 10px;
		    display: inline-block;
		    background: transparenttr;
		    font-size: 22px;
		    line-height: 28px;
		    margin-top: 0px;
		    border-radius: 5px;
		    color: $black;

		    &:hover{
		    	background-color: $purple;
		    	color: $white;
		    }
	    }
	}
}
.payment_box{
	select{
		width: 200px;
		height: 40px;
	}
}
.woocommerce-error, .woocommerce-info, .woocommerce-message, .woocommerce-noreviews, p.no-comments{
	margin-bottom: 20px;
}


.woocommerce-bacs-bank-details{
	h3{
		@include font-weight-regular;
		color: $black;
	}
	.order_details bacs_details{
		margin-top: 10px;
	}
}
p.terms{
	input{
		display: inline-block;
    	height: 17px;
	}
	label{
		display: inline-block;
	    cursor: pointer;
	    padding-top: 19px;	
	}
}
.woocommerce-checkout-payment{
	.payment_methods:before{
		content: "Payment options";
		font-size: 30px;
	    line-height: 1.5;
	    font-weight: 700;
	    font-family: "Quicksand";
	    color: $purple;
		margin-bottom: 18px;
	    display: block;
	}
}

.related.products{
	padding-top: 60px;
	border-top: 1px solid $lightgrey;
}

.error404 .fourohfour-columns-2 .col-2{
	display: none;
}


/*--------------------------------------------------------------
# Shop iconen mobile version
--------------------------------------------------------------*/
.storefront-handheld-footer-bar{
	ul{
		li.my-account{
			> a:before{
				content: "";
				background: url(././images/account-icon.svg);
				background-repeat: no-repeat;
			    background-size: 30px;
			    margin-left: auto;
			    background-position: center;
			}
		}
		li.search{
			> a:before{
				content: "";
				background: url(././images/search-icon.svg);
			    background-repeat: no-repeat;
			    background-size: 30px;
			    margin-left: auto;
			    background-position: center;
			}
		}
		li.cart{
			> a:before{
				content: "";
				background: url(././images/shop-icon.svg);
			    background-repeat: no-repeat;
			    background-size: 30px;
			    margin-left: auto;
			    background-position: center;
			}
		}
	}
}

/*--------------------------------------------------------------
# Currency changer
--------------------------------------------------------------*/
.dd-image-right{
	display: none;
}
.dd-selected-text, .dd-option-text{
	display: none;
}
.dd-selected-description.dd-desc, .dd-option-description.dd-desc{
	font-size: 17px;
	color: $black;
}
.dd-option-selected .dd-option-description.dd-desc{
	@include font-weight-bold;
}
.widget-area .widget a:not(.button){
	text-decoration: none;
}
/*--------------------------------------------------------------
# MailChimp inschrijving
--------------------------------------------------------------*/
.mc4wp-form-fields{
	input{
		width: 60%;
	}
	label{
		display: block;
	}
}
.mc4wp-alert{
	p{
		font-style: italic;
	}
}
.footer-widget-4 .textwidget a.btn{
	&:before{
		display: none;
	}
}
.mc4wp-checkbox-woocommerce{
	input{
		margin-right: 13px;
	}
}

/*--------------------------------------------------------------
# Methode pagina
--------------------------------------------------------------*/
body.archive.post-type-archive-methods #primary,
body.page-template-archive-methods #primary{
	width: 100%;

	h1{
		text-align: center;
	}
	p{
		width: 60%;
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width: 550px){
			width: 100%;
		}
	}
	h4{
		margin-top: 0px;
		padding-top: 40px;
    	margin-bottom: 10px;
	}
}
ul.methodMenu{
	list-style-type: none;
	margin: 0px auto 20px auto;
	padding: 0px;
	display: block;
	height: 45px;
	color: $black;
	font-weight: 700;
	text-align: center;

	li{
		display: inline-block;
		border-radius: 4px;
		border: 1px solid $lightgrey;

		a{
			color: $black;
			font-weight: 700;
			padding: 8px 15px;
			display: inline-block;
		}
		&:hover{
			background: $purple;
			
			a{ 
				color: $white;
			}
		}
	}
}
ul.methodesList{
	list-style-type: none;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0px;
	padding: 0px;

	li{
		margin-bottom: 1.2%;
		border: 1px solid #dedede;
		display: inline-block;
		margin-top: -1px;
		margin-left: -1px;
		margin-right: 1.2%;
		width: 32%;
		text-align: center;
		border-radius: 5px;
		background: #ffffff;
		flex-basis: auto;

		&:first-child{
		}

		@media screen and (max-width: 1150px){
			width: 48%;
		}
		@media screen and (max-width: 750px){
			width: 100%;
		}
		@media screen and (max-width: 450px){
			width: 100%;
		}
		&:hover{
			box-shadow: 0px 0px 20px 0px #dcdbdb;
    		z-index: 999;
    		border-color: $green;

    		span.textbtn{
    			color: $green;
    		}
		}
		a{
			display: inline-block;
			text-decoration: none;
			display: block;
			height: 100%;

			@media screen and (max-width: 450px){
				width: 100%;
			}

			div.image{
				padding:25px;

				@media screen and (min-width:550px) and (max-width: 750px){
					width: 20%;
					padding: 5px 15px 5px 5px;
					border-bottom: 0px;
					vertical-align: top;
					margin-top: 30px;
					display: inline-block;
				}

				img{
					max-height: 80px;
					height: 80px;
					width: auto;
					margin-left: auto;
					margin-right: auto;
				}
			}
			.methContent{
				text-align: left;
				padding: 0px 25px 25px 25px;
				color: $black;

				@media screen and (min-width:550px) and (max-width: 750px){
					display: inline-block;
					padding: 0px 25px 25px 15px;
					border-left: 1px solid $lightgrey;
					width: 60%;
				}
				@media screen and (max-width: 350px){
					padding: 0px 10px 10px 10px;
				}
				h3{
					margin-bottom: 0px;
					margin-top: 15px;
					-webkit-margin-after: 0px;
					color: $purple;
				}
				span.intro{
					margin-bottom: 25px;
					display: block;
					min-height: 80px;
				}
				label{
					@include font-weight-bold;
					display: inline-block;

					@media screen and (max-width: 350px){
						width: 145px;
					}
				}
				i{
					color: $purple;
				}
			}
		}
	}
}
label.methodlabel{
	padding: 5px 10px;
	border: 1px solid #efefef;
	background: #fafafa;
	display: inline-block;	
	width: auto;
	margin-bottom: 10px;
	border-radius: 4px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	width: auto;

	&.time{
		color: $black;

		i{
			margin-right: 5px;
			color: $purple;
		}
	}
	&.tags{
		margin-right: 3px;
		font-weight: 700;
		color: $black;
	}
	&.Expert{
		background: #d69ba7;
		border: 1px solid #d69ba7;
	}
	&.Intermediate, &.Gevorderd{
		background: #e7bb8a;
		border: 1px solid #e7bb8a;
	}
	&.Beginner{
		background: #abd0b7;
		border: 1px solid #abd0b7;
	}
}
span.textbtn{
	display: block;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;

	&:hover{
		color: $green;
		cursor: pointer;
	}
}

.single-methods{
	.methDetailContainer{
		border-bottom: 1px solid $lightgrey;
		padding-bottom: 20px;
		margin-bottom: 20px;

		.left{
			width: 49%;
			display: inline-block;
			text-align: center;

			@media screen and (max-width: 740px){
				width: 25%;
			}
			@media screen and (max-width: 500px){
				width: 100%;
			}

			img{
				width: 90%;
				height: auto;

				@media screen and (max-width: 500px){
					width: 30%;
					margin-left: auto;
    				margin-right: auto;
    				margin-bottom: 20px;
    			}
			}
		}
		.right{
			width: 49%;
			display: inline-block;
			vertical-align: top;

			@media screen and (max-width: 740px){
				width: 73%;
			}
			@media screen and (max-width: 500px){
				width: 100%;
			}

			label.specs{
				@include font-weight-bold;
				width: 160px;
				display: inline-block;
				margin-bottom: 7px;
			}
			label.phase{
				height: 33px;
				display: inline-block;
				margin-bottom: 6px;
			}
		}
	}
	.entry-content > img.wp-post-image{
		display: none;
	}
	h1.entry-title{
		text-align: left;
	}
	.hentry{

		.entry-header{
			display: none;
		}
		.panel-layout > .panel-grid{
			padding-top: 0px;
		}
		h1.entry-title{
			text-align: left;
		}
		.no-padding p{
			-webkit-margin-before: 0em;
   			-webkit-margin-after: 0em;
		}
	}
	.methodTable{
		td{
			padding: 0px 0px 3px 0px;
			background: transparent;
		}
	}
	.methodSpecs{
		label{
			@include font-weight-bold;
			width: 160px;
			display: inline-block;
			margin-bottom: 7px;
		}
		i{
			color: $purple;
		}
		span.catIcon{
			height: 30px;
			width: 30px;
			margin-top: 7px;
			display: inline-block;

			&.characters{
				background-image: url('././images/personen-icoon.png');
				background-repeat: no-repeat;
				background-position: center left;
				background-size: auto 100%;
			}
			&.objects{
				background-image: url('././images/object-icoon.png');
				background-repeat: no-repeat;
				background-position: center left;
				background-size: auto 100%;
			}
			&.animals{
				background-image: url('././images/dieren-icoon.png');
				background-repeat: no-repeat;
				background-position: center left;
				background-size: auto 100%;
			}
			&.locations{
				background-image: url('././images/locatie-icoon.png');
				background-repeat: no-repeat;
				background-position: center left;
				background-size: auto 100%;
			}
		}
	}
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $purple;
    color: $white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ------------------------

	Facilitor pages

 ------------------------ */

body.archive.post-type-archive-facilitators #primary p, body.page-template-archive-facilitators #primary p{
	width: 60%;
    margin-left: auto;
    margin-right: auto;	
}
body.archive.post-type-archive-facilitators #primary h1, body.page-template-archive-facilitators #primary h1 {
    text-align: center;
}
ul.facilitatorList{
	list-style-type: none;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;

	li{
		margin-bottom: 20px;
		border: 1px solid #dedede;
		display: inline-block;
		margin-top: 25px;
		width: 32%;
		text-align: center;
		border-radius: 8px;
		background: #ffffff;
		flex-basis: auto;

		@media screen and (max-width: 1150px){
			width: 48%;
		}
		@media screen and (max-width: 750px){
			width: 100%;
		}
		@media screen and (max-width: 450px){
			width: 100%;
		}
		&:hover{
			box-shadow: 0px 0px 20px 0px #d0d0d0;
		}
		a{
			display: inline-block;
			text-decoration: none;
			display: block;
			height: 100%;

			@media screen and (max-width: 450px){
				width: 100%;
			}

			div.image{
				border-bottom: 1px solid $lightgrey;

				@media screen and (min-width:550px) and (max-width: 750px){
					width: 33%;
					padding: 20px 0px 10px 10px;
					border-bottom: 0px;
					vertical-align: top;
					display: inline-block;

				}

				img{
					max-height: auto;
					border-radius: 0px;
					-webkit-border-top-left-radius: 3px;
					-webkit-border-top-right-radius: 3px;
					-moz-border-radius-topleft: 3px;
					-moz-border-radius-topright: 3px;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;

					@media screen and (min-width:550px) and (max-width: 750px){
						border-radius: 3px;
					}
				}
			}
			.content{
				text-align: left;
				padding: 0px 25px 25px 25px;
				color: $black;

				@media screen and (min-width:550px) and (max-width: 750px){
					display: inline-block;
					width: 58%;
					padding:0px 3% 20px 3%;
				}
				@media screen and (max-width: 350px){
					padding: 0px 10px 10px 10px;
				}
				h2{
					margin-bottom: 0px;
					margin-top: 30px;
					-webkit-margin-after: 0px;
					color: $purple;
					padding-bottom: 10px;
					font-size: 23px;
				}
				span.intro{
					margin-bottom: 25px;
					display: block;
				}
				span.textbtn{
					font-weight: bold;

					&:hover{
						color: $green;
					}
				}
			}
		}
	}
}
nav.post-navigation{
	display: none;
}


/*--------------------------------------------------------------
# Add to cart Pop-up
--------------------------------------------------------------*/
#yith-wacp-popup .yith-wacp-wrapper{
	top: 5%!important;

	.yith-wacp-main{
		border-radius: 8px;

		.yith-wacp-message{
			border-radius: 8px;

			&:before{
				content: "\f00c";
			    margin-right: 11px;
			    font-family: "FontAwesome";
			    width: 1em;
			    color: #FFFFFF;
			    font-size: 24px;
			    background: none;
			}
			span{
				line-height: 38px;
				@include font-weight-bold;

				@media screen and (max-width:450px){
					line-height: 21px;
				}
			}
		}
		.yith-wacp-content .popup-actions{
			border-bottom: 0px;   
			display: flex;
    		justify-content: space-between;

    		@media screen and (max-width:650px){
    			display: block;

    			a{
    				display: block;
    				margin-bottom: 15px!important;

    				&:last-child{
    					margin-bottom: 0px!important;
    				}
    			}
    		}
			a{
				border-radius: 8px;
				margin: 0px;
				text-transform: none!important;
				font-size: 15px!important;


			}

			a.go-cart{
				background: $blue;
				color: $white;

				&:hover{
					background-color: $green;
				}
			}
			a.go-checkout, a.continue-shopping{
				background: #ebebeb!important;
				color: #333333!important;

				&:hover{
					background: $green!important;
					color: #ffffff!important;
				}
			}
		}
	}
}
.hustle-modal .hustle-modal-close .hustle-icon, .wpmudev-ui .hustle-modal .hustle-modal-close .hustle-icon{
	margin: 0 15px -45px auto!important;
}
.hustle-modal article h3, .hustle-modal .hustle-modal-message h3{
	font-family: $body-font;
}
.wph-modal.module_id_1 .hustle-modal .hustle-modal-message a.hustle-modal-cta{
	font-family: $body-font;
	border-radius: 6px;
	@include font-weight-bold;
}
.hustle-modal-message{
	h1, h2, h3, h4, h5, h6{
		color: $purple!important;	
	}
}
.product_cat-canvassen, .product_cat-producten,
.product_cat-canvases, .product_cat-products,
body.postid-1060{
	#woo_catalog{
		display: none;
	}
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


