@font-face {
	font-family: 'OMK_handwritten';
	src: url('./font/OMK_handwritten.eot');
	src: url('./font/OMK_handwritten.eot?#iefix') format('embedded-opentype'),
		url('./font/OMK_handwritten.woff') format('woff'),
		url('./font/OMK_handwritten.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: fallback;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

// base font
$handwritten: 		'OMK_handwritten';
$body-font: 		'Quicksand';

// base color scheme
$purple: #A01458;
$black: #282B3E;
$white: #FFFFFF;
$blue: #8CC5D2;
$green: #8EBCA7;
$darkblue: #325AA6;
$lightgrey: #ebebeb;
$darkgrey: #afadad;

/*--------------------------------------------------------------
# Font size mixins
--------------------------------------------------------------*/
@mixin font-size-h1{
	font-size: 50px;
	line-height:1.2;

	@media screen and (max-width: 993px){
		font-size: 45px;
	}

	@media screen and (max-width: 769px){
		font-size: 40px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 35px;
	// }
}

@mixin font-size-h2{
	font-size: 30px;
	line-height:1;

	@media screen and (max-width: 993px){
		font-size: 27px;
	}

	@media screen and (max-width: 769px){
		font-size: 23px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 30px;
	// }
}

@mixin font-size-h3{
	font-size: 30px; 
	line-height:1.5;

	@media screen and (max-width: 993px){
		font-size: 27px;
	}

	@media screen and (max-width: 769px){
		font-size: 23px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 20px;
	// }
}

@mixin font-size-h4{
	font-size: 24px;
	line-height:1.5;

	@media screen and (max-width: 993px){
		font-size: 22px;
	}

	@media screen and (max-width: 769px){
		font-size: 19px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 17px;
	// }
}

@mixin font-size-h5{
	font-size: 18px;
	line-height:1.5;

	@media screen and (max-width: 993px){
		font-size: 17px;
	}

	@media screen and (max-width: 769px){
		font-size: 16px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 15px;
	// }
}

@mixin font-size-h6{
	font-size: 16px;
	line-height:1.5;

	@media screen and (max-width: 993px){
		font-size: 15px;
	}

	@media screen and (max-width: 769px){
		font-size: 14px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 13px;
	// }
}

@mixin font-size-p{
	font-size: 18px;
	line-height:1.5;
	font-style: normal;

	@media screen and (max-width: 993px){
		font-size: 17px;
	}

	@media screen and (max-width: 769px){
		font-size: 16px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 15px;
	// }
}

/*--------------------------------------------------------------
# Font weight mixins
--------------------------------------------------------------*/
@mixin font-weight-small{
	font-weight: 300;
}

@mixin font-weight-regular{
	font-weight: 500;
}

@mixin font-weight-bold{
	font-weight: 700;
}

/*--------------------------------------------------------------
# Typo standards
--------------------------------------------------------------*/
body, button, input, textarea{
	font-family: $body-font;
}

h1{
	@include font-size-h1;
	@include font-weight-bold;
	font-family: $body-font;
}

h2{
	@include font-size-h2;
	@include font-weight-bold;
	font-family: $body-font;
	line-height: 1;
}

h3{
	@include font-size-h3;
	@include font-weight-bold;
	font-family: $body-font;
}

h4, .widget-title, .widget_nav_plus_widget span.widget-title{
	@include font-size-h4;
	@include font-weight-regular;
	font-family: $body-font;
	border-bottom: 0px;
}

h5{
	@include font-size-h5;
	@include font-weight-regular;
	font-family: $body-font;
}

h6{
	@include font-size-h6;
	@include font-weight-small;
}

p, figcaption.wp-caption-text{
	@include font-size-p;
	@include font-weight-regular;
	line-height: 1.5;
}

h1, h2, h3, h3 a, h4, h5, h6{
	padding: 0px;
	@include font-weight-bold;
}

blockquote p{
	@include font-size-h3;
	font-family: $body-font;
	font-style: italic;
	line-height: 1.5;
}
.widget h3.widget-title{
	@include font-size-h3;
	@include font-weight-bold;
	font-family: $body-font;
	margin-bottom: 0px;
    border-bottom: 0;
    padding-bottom: 10px;
}
footer .widget .widget-title,
.widget .widget-title, .widget .widgettitle{
	@include font-weight-bold;
	color: $black;
	margin-bottom: 0px;
    border-bottom: 0;
    padding-bottom: 10px;
}
.methodesList h3{
	font-size: 23px;
}



